@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Updock&display=swap');

:root {
    --overlay-color: #03a9f4;
    
    
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.head {
    display: flex;
    direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.analyzer {    
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
}

input {
    margin-left: 20px;
    margin-right: 5px;
    height: 38px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


h1 {
    font-family: 'Updock', cursive;
    font-size: 4em;
    font-weight: 500;
    line-height: 1em;
    /* text-transform: uppercase; */
}



h2 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
    /* text-transform: uppercase; */
}

h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    /* text-transform: uppercase; */
}

h5 {
    font-family: 'Updock', cursive;
    font-size: 5em;    
    font-weight: 800;
    line-height: 1em;
      
}

p {
    font-size: 5em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;    
    line-height: 1em;
}

.socialMenu {
    /* position: absolute;    */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    top: 10px;
}

.socialMenu li {
    list-style: none;
}

.socialMenu li a {
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    transform: scale(1.5);
    transition: 0.5s;
}

.socialMenu li a:hover {
    transform: scale(2) translateY(-10px);
}

